PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/jayasri_kannan_foundation?retryWrites=true&w=majority
ADMIN_EMAIL=jskfoundation29@gmail.com
RESEND_API_KEY=re_your_resend_api_key_here
